@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

*{
    margin: 0;
    padding: 0;
}

body{
    font-family: Roboto, sans-serif;
}

svg{
    width: 1rem;
    height: 1rem;
    path {
        fill: white;
    }
}

#logo{
    width: 1.5rem;
    height: 1.5rem;
}

.grid{
    display: grid;
    grid-template-columns: 20% 80%;
}

.sidebar{
    background-color: #0ea5e9;
    height: 100vh;
    color: white;
}

.logo-text{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    font-size: 1rem;
    margin: 40px 40px;
}

.logo-text h1{
    font-size: 25px;
    margin-left: 15px;
}

.icon-text{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    font-size: 1rem;
    margin: 10px 40px ;
}

.icon-text p{
    margin-left: 15px;
    font-size: 14px;
    font-weight: 800;
}

.list-text-bottom{
    margin-top: 50px;
}

#icon-search, #icon-bell{
    width: 1rem;
    height: 1rem;
    path {
        fill: black;
    }
}

.main{
    background-color: white;
    height: 100vh;
    display: grid;
    grid-template-rows: 20% 80%;
}

.header{
    background-color: white;
    display: flex;
    flex-direction: column;
   
}

.navbar{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.searchbar{
    width: 500px;
    background-color: #d4d4d4;
    border: 1px solid #d4d4d4;
    border-radius: 10px;
    margin-left: 20px;
    margin-right: 100px;
}

.profile{
    margin: 10px 20px;
}

.content{
    background-color: #d4d4d4;
}

