@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

*{
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;

}

body{
    font-family: Roboto, sans-serif;
}

svg{
    width: 1rem;
    height: 1rem;
    path {
        fill: white;
    }
}

#logo{
    width: 1.5rem;
    height: 1.5rem;
}

.grid{
    display: grid;
    grid-template-columns: 20% 80%;
    height: 100%;
}

.sidebar{
    background-color: #0ea5e9;
    height: 100%;
    color: white;
}

.logo-text{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    font-size: 1rem;
    margin: 40px 40px;
}

.logo-text h1{
    font-size: 25px;
    margin-left: 15px;
}

.icon-text{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    font-size: 1rem;
    margin: 10px 40px ;
}

.icon-text p{
    margin-left: 15px;
    font-size: 14px;
    font-weight: 800;
}

.list-text-bottom{
    margin-top: 50px;
}

#icon-search, #icon-bell{
    width: 1rem;
    height: 1rem;
    path {
        fill: black;
    }
}

.main{
    background-color: white;
    height: 100vh;
    display: grid;
    grid-template-rows: 17% 87%;
}

.header{
    background-color: white;
    display: flex;
    flex-direction: column;
    color: black;
   
}

.navbar, .left{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 0px 80px;
}

.searchbar{
    width:500px;
    background-color: #d4d4d4;
    border: 1px solid #d4d4d4;
    border-radius: 10px;
    margin-left: 20px;
    margin-right: 100px;
}

.profile-one{
    margin: 10px 20px;
}

.profile-two{
    margin: 0px 20px;
}

.welcome-section{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 0px 10px;
}

.right{
    display: flex;
    flex-direction: row;
    /* justify-content: space-between; */
    align-items: center;
    width: 40%;
}

.btn{
    background-color: #0ea5e9;
    margin-right: 20px;
    width: 80px;
    height: 30px;
    border: 1px solid #0ea5e9;
    border-radius: 20px;
    color: white;
    font-weight: 800;
}

.content{
    background-color: #d4d4d4;
    display: grid;
    grid-template-columns: 70% 30%;
}

.project-summary{
    display: grid;
    grid-template-columns: 50% 50%;
}

.project{
    background-color: white;
    border-left: 5px solid #facc15;
    border-radius: 10px;
    width: 300px;
    height: 145px;
    margin: 15px 0px;
    margin-left: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding-left: 15px;


}

.icons{
    height: 1rem;
    path {
        fill: black;
    }
    display: flex;  
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    width: 90%;
    margin-left: 10px;
}

h6{
    font-size: 15px;  

}

.project p{
    font-size: 14px;
    color: #737373;
    margin: 5px 0px;
}

h4{
    margin-left: 20px;
    margin-top: 25px;
}

.announcements-trends{
    display: grid;
    grid-template-rows: 50% 50%;
}

.announcements, .trend{
    height: 80%;
    width: 95%;
    background-color: white;
    border-radius: 10px;
    
}